*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    overflow-x: hidden;
    background-color: #fff;
}

:root {
  --color-background-main: lab(2.42% -0.16 -0.47);
  --color-background-invert: lab(100% 0 0); 
  --color-text-main: lab(100% 0 0); 
  --color-text-invert: lab(2.42% -0.16 -0.47);
  --color-text-soft: lab(100% 0 0 / 0.7);  
  --color-text-sub: lab(100% 0 0 / 0.6);  
  --color-border-sub: lab(100% 0 0 / 0.07);
  --color-background-soft: lab(100% 0 0 / 0.05);
  --color-border-surface: lab(100% 0 0 / 0.05);
  --color-muted: lab(100% 0 0 / 0.5);
  --color-border-soft: lab(100% 0 0 / 0.15);
  --color-border-solid: lab(100% 0 0);
  --color-brand: lab(79.98% -59.62 22.50);
  --color-brand-light: lab(51.34% -41.56 15.35);
  --color-muted-invert: lab(2.42% -0.16 -0.47 / 0.5);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    width: 1056px;
    margin: 0 auto;
    top: 30px;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items > li{
    padding: 4px 12px;
    font-weight: 500;
    list-style-type: none;
    color: var(--color-background-invert);
}

.nav-items > li:hover{
    background-color: var(--color-background-soft);
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.logo-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
   width: 750px; 
}

.nav-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.btn-transparent{
    padding: 4.5px 12px;
    background-color: var(--color-background-soft);
    border: 1px solid var(--color-background-soft);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 550;
    line-height: 22.5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn-white{
    padding: 4.5px 12px;
    background-color: #fff;
    border: 1px solid lightgray;
    font-size: 15px;
    cursor: pointer;
    font-weight: 550;
    line-height: 22.5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn-black{
    padding: 7px 24px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    font-weight: 550;
    line-height: 22.5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.hero-image {
    position: relative;
    /* height: 100vh; */
    width: 100%;
    overflow: hidden;
}

.hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-image: url('/images/bg-light.png');
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    z-index: -1;
    scale: 1.21;
}

.new-self{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin: auto;
    background-color: var(--color-border-soft);
    width: 367px;
    height: 30px;
    line-height: 21px;
    padding: 4px 8px 4px 4px;
    margin-top: 41px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.new{
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 30px;
    background-color: var(--color-brand-light);
    padding: 2px 8px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.self{
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.new-self > svg{
    width: 16px;
    height: 16px;
    color: white;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 51px;
}

.main-heading{
    font-size: 51px;
    color: white;
    text-align: center;
    font-weight: 500;
}

.main-para{
    font-size: 18px;
    color: white;
    text-align: center;
}

.main-email{
    width: 360px;
    height: 42px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-border-soft);
    color: white;
    border: 1px solid #ffffff1a;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.main-email > input{
    font-size: 15px;
    color: var(--color-background-main);
    padding: 0 12px;
    background-color: transparent;
    border: none;
}

.main-email > input::placeholder{
    color: var(--color-text-main);
    font-weight: 500;
}

.main-email > input:focus{
    outline: none;
    color: var(--color-text-main);
    font-weight: 500;
}

.main-btn{
    padding: 4.5px 12px;
    border: none;
    background-color: white;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-background-main);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.main-img{
    margin-top: 70px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.sponsor > div {
    min-height: 56px; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, minmax(0, 1fr)); 
    column-gap: 8px;
    row-gap: 30px;
    justify-items: center;
    align-items: center; 
    margin: 0 auto;
    padding: 72px 0px 144px 0px; 
    margin: 0 auto;
    background-color: white;
}

.sponsor-all-logos{
    width: 1024px;
}

.sponsor div div {
    width: 250px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsor > div > div > img {
    width: 120px;
}

.perplexity-logo{
    display: flex;
    gap: 5px;
}

.perplexity-logo > img:first-child{
    width: 30px;
}

.x-logo > img{
    width: 30px !important;
}

.sponsor {
    color: black;
}

.content{
    padding: 48px 0;
    background-color: white;
    display: grid;
    gap: 16px;
}

.content-heading{
    font-size: 40px;
    color: black;
    text-align: center;
    font-weight: 500;
}

.content-para{
    font-size: 18px;
    color: black;
    text-align: center;
}

.features-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 24px;
    margin-bottom: 144px;
}

.feature-card-main{
    max-width: 1024px;
    display: flex;
    gap: 24px;
}

.feature-card{
    max-width: 512px;
    max-height: 534px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid lightgray;
    padding: 24px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.card-content > img{
    width: 440px;
}

.tag{
    color: var(--color-brand-light);
    font-size: 12px;
    font-weight: 500;
}

.card-content-02{
    width: 1024px;
    height: 664px;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 16px;
    border: 1px solid lightgray;
    padding: 24px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.card-content-02 > img {
    width: 1022px;
    height: 431px;
}

.enterprise{
    background-color: #d3d3d347;
    padding: 96px 120px;
    display: flex;
    flex-direction: column;
}

.card-content-03{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 48px;
}

.content-04{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}

.content-heading-02{
    font-size: 40px;
    color: black;
    font-weight: 500;
}

.icon-content{
    margin-top: 24px;
    display: flex;
    gap: 48px;
    padding-bottom: 48px;
}

.icon-01 > svg{
    width: 32px;
    height: 32px;
}

.icon-02 > svg{
    width: 32px;
    height: 32px;
}

.icon-heading{
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 20px;
}

.customer-story {
  position: relative;
  width: 100%;
  height: 520px;
  border-radius: 32px;
  overflow: hidden;
  background-image: url("https://www.mintlify.com/enterprise/anthropic.svg");
  background-size: cover;
  background-position: center;
  padding: 48px;
  box-sizing: border-box;
}

.customer-content {
  max-width: 520px;
  color: #ffffff;
}

.category-tag {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  font-weight: 600;
  margin-bottom: 16px;
}

.customer-content h2 {
  font-size: 24px;
  line-height: 1.3;
  margin: 0 0 32px;
  font-weight: 500;
}

.read-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 137px;
}

.stats-row {
  display: flex;
  gap: 28px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stat-number {
  font-size: 40px;
  font-weight: 500;
}

.stat-label {
  font-size: 14px;
  opacity: 0.9;
}

.customer-section{
    padding: 72px 48px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.scroll{
    display: flex;
    gap: 16px;
    padding-left: 227px;
}

.scroll > div > img{
    object-fit: cover   ;
    width: 390px;
    height: 294px;
    margin-bottom: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.scroll > div > p{
    font-size: 16px;
}

.read-more{
    display: flex;
    align-items: center;
    color: rgb(170, 168, 168);
    gap: 6px;
    font-size: 18px;
    margin-top: 24px;
    font-weight: 500;
}

.read-more > span > svg{
    width: 10px;
    height: 10px;
    rotate: calc(270deg);
}

.read-more:hover{
    color: var(--color-brand-light);
    cursor: pointer;
}

.arrow-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    padding: 48px 72px;
}

.arrow-btn svg:first-child {
    width: 25px;
    rotate: calc(90deg);
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.arrow-btn svg:last-child {
    width: 25px;
    rotate: calc(270deg);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.documentation{
    max-width: 1024px;
    margin: 0 auto;
    padding: 120px 0;
    text-align: center;
}

.footer-container {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
}

.content-heading{
    padding-bottom: 16px;
    line-height: 44px;
}

.btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 48px;
}

.div-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
}

.pricing{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    width: 494px;
    height: 261px;
}

.pricing-icon{
    border: 1px solid lightgray;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
    
.pricing-icon > svg{
    width: 32px;
}

.pricing > p{
    margin: 0 auto;
    color: var(--color-brand-light)
}

.quick{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    width: 494px;
    height: 261px;
}

.quick > p{
    margin: 0 auto;
    color: var(--color-brand-light)
}

.para-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.para-group p:first-child{
    font-size: 20px;
    font-weight: 500;
}

.para-group p:last-child{
    font-size: 16px;
    font-weight: 400;
}

.footer-inner {
  max-width: 1024px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 20px;
  padding-top: 64px;
  padding-bottom: 24px;
}

.logo > a > img{
    width: 104px;
    height: 38px;
}

.social-links {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #6b7280;
}

.social-links >  a > svg{
    color: lightgrey;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  margin-bottom: 72px;
}

.footer-col h4 {
  color: #9ca3af;
  font-size: 13px;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
  font-weight: 500;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  margin-bottom: 16px;
}

.footer-col a {
  text-decoration: none;
  color: #111827;
  font-size: 15px;
  transition: color 0.2s;
  font-weight: 500;
}

.footer-col a:hover {
  color: #0C8C5E;
}

.footer-security {
  border-top: 1px solid #f0f0f0;
  padding: 24px 0;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  font-weight: 500;
}

.footer-security img{
    width: 60px;
}

.soc2-badge {
  height: 60px;
}

.footer-bottom {
  border-top: 1px solid #f0f0f0;
  padding: 32px 0 96px 0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6b7280;
  font-size: 14px;
}

.status-indicator {
  background: #f3f4f6;
  padding: 6px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-indicator .dot {
  width: 8px;
  height: 8px;
  background: #10b981;
  border-radius: 50%;
}

.theme-controls {
  background: #f3f4f6;
  padding: 4px 8px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
}

.theme-controls > span > img{
    width: 20px;
}
